@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

* {
	box-sizing: border-box;
}

p {
	font-size: 12px;
}

h1 {
	font-size: 1.5em;
}

a {
	text-decoration: none;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

.fab {
	color: #fff;
}

.clearfix {
	clear: both;
}


.img-768, .img-1200 {
	display: none;
}






/*SECCIONES REPRODUCIBLES*/

.img-width {
	margin: 30px 0 0 0;
	text-align: center;
}

.img-width h3 {
	font-weight: 400;
	padding: 0 30px;
}

.img-width img {
	width: 100%;
}



.video-width {
	position: relative;
	padding-bottom: 56.25%;
	margin: 30px 0;
}

.video-width iframe {
	position: absolute;
	width: 100%;
	height: 100%;
}


.text-width {
	background-color: #e6e7e8;
	text-align: center;
	padding: 20px 30px;
	margin: 20px 0;
}









.no-margin {
	margin: 0;
}






/*INDEX*/

.intro {
	margin-top: 100px;
	text-align: center;
}

.intro h1 {
	font-weight: 400;
}

.intro-marcas {
	float: left;
	width: 33.3%;
	padding: 0 1px;
	box-sizing: border-box;
}

.intro-marcas-img {
	width: 100%;
}

.intro-marcas-img-1200 {
	display: none;
}


.servicios-link {
	margin: 40px 0 0 0;
	text-align: center;
}

.servicios-link a{
	color: #000;
}

.servicios-link div {
	display: inline-block;
	box-sizing: border-box;
	padding: 0 20px;
}

.servicios-link img {
	width: 120px;
}

.servicios-link h3 {
	font-weight: 400;
}

.servicios-link h4 {
	font-weight: 400;
}

#img-inverse {
	transform: scaleX(-1);
}




.contact-info-section {
	background-color: #e4e4e4;
	text-align: left;
	padding: 20px 20px 40px 20px;
	margin: 30px 0 0 0;
}

.contact-info-section p {
	font-size: 0.7em;
}

.contact-info {
	width: 100%;
}

.inline {
	display: table-cell;
}

.contact-info-text {
	display: table-cell;
	box-sizing: border-box;
	padding: 0 10px;
	vertical-align: top;
}



.contact-info-icon {
	margin-top: 20px;
	box-sizing: border-box;
	display: table-cell;
}

.contact-info-icon img {
	width: 100px;
	margin-top: 20px;
}



/*NOSOTROS*/


.nosotros-intro {
	text-align: center;
	margin: 85px 0 40px 0;
}

.img-nosotros {
	width: 100%;
}

.img-nosotros-1200 {
	display: none;
}

.nosotros-intro p {
	padding: 0 10vw;
}


.distribucion-marcas {
	text-align: center;
}

.distribucion-marcas h3 {
	color: #336699;
	padding: 0 20px;
	font-size: 1em;
}

.bandera {
	width: 80px;
}

.brief {
	padding: 20px 10px;
}

.separation-brief {
	width: 2px;
	height: 20px;
	background-color: #e3e3e3;
	float: left;
	box-sizing: border-box;
}

.brief-marcas {
	float: left;
	width: 32%;
	box-sizing: border-box;
	padding: 0 10px;
}

.brief-marcas img {
	max-width: 100%;
}

.brief-marcas p {
	font-size: 0.6em;
}

#servicio-brief {
	padding: 0 10vw;
}




/*INTRO MARCAS*/

.marca-producto-intro {
	text-align: center;
	margin: 80px 0; 
}

.marca-intro-icon {
	width: 200px;
}

.marca-intro-img {
	width: 100%;
}

.marca-intro-text {
	padding: 0 30px;
}

.productos-marcas-container {
	text-align: center;
	padding-bottom: 30px;
}

.container-producto-layout {
	display: flex;
	flex-wrap: wrap;
	padding: 0 20px;
	text-align: center;
}

.producto-item {
    width: 50%;
    padding: 20px;
    text-align: left;
    align-self: flex-start;
}

.producto-item img {
	max-width: 100%;
}

.producto-item h3 {
	color: #336699;
	font-size: 1.1em;
	margin-bottom: 0px;
}



/*M.I.R*/

.caracteristicas-mir-container {
	margin: 20px 0;
	padding: 20px 0;
	text-align: center;
	background-color: #e6e7e8;
}

.caracteristicas-mir {
	padding: 0 20px;
	display: flex;
	flex-wrap: wrap;
}

.caracteristica-item {
	padding: 20px 0;
	width: 100%;
	display: inline-block;
}

.caracteristica-item p {
	display: table-cell;
	vertical-align: top;
	padding-left: 30px;
	text-align: left;
}

.ticket {
	display: table-cell;
	vertical-align: top;
}

.ticket img {
	width: 30px;
}






/*UNIVERSAL ROBOTS*/


.ventajas-section {
	margin: 30px 0 20px 0;
	display: flex;
	flex-wrap: wrap;
	padding: 0 20px;
}

.ventajas-item {
	text-align: center;
	width: 50%;
	padding: 10px;
}

.ventajas-item h2 {
	margin: 0 auto;
	color: #fff;
	width: 50px;
	background-color: #4d73a9;
	border-radius: 50px;
	padding: 10px;
}

.ventajas-item h4 {
	color: #4d73a9;
	font-weight: 600;
}

.ventajas-item p {
	text-align: left;
}

.seriee-container-intro {
	margin: 20px 0;
	padding: 20px 0;
	text-align: center;
	background-color: #e6e7e8;
}

.ur-seriee-caracteristica {
	padding: 0 20px;
	display: flex;
	flex-wrap: wrap;
}

.no-background-color {
	background-color: #fff;
}



/*SERVICIOS*/

.servicios__capacitaciones {
	margin-top: 60px;
}

.capacitaciones__title {
	text-align: center;
}

.capacitaciones__title img {
	width: 140px;
	vertical-align: middle;
}

.capacitaciones__title h2 {
	display: inline;
	font-weight: 600;
}

.capacitaciones__container {
	text-align: center;
}

.capacitaciones__item {
	margin-top: 0px;
	padding: 0 30px;
}

.capacitaciones__item h2 {
	display: inline-block;
	color: #fff;
	background-color: #4d73aa;
	width: 60px;
	height: 60px;
	border-radius: 50px;
	padding-top: 14px;
}

.capacitaciones__item h3 {
	color: #4d73aa;
	margin: 0;
}

.capacitaciones__item ol {
	text-align: left;
	list-style: none; 
	counter-reset: li;
}

.capacitaciones__item li {
	counter-increment: li;
	padding: 3px 0;
}

.capacitaciones__item li::before {
  content: counter(li); 
  color: #4d73aa;
  font-weight: 600;
  display: inline-block; 
  width: 1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl;
}

.simulacion__section  {
	margin-top: 70px;
	text-align: center;
}

.simulacion__title img {
	width: 100px;
	vertical-align: middle;
}

.simulacion__title h2 {
	display: inline;
	font-weight: 600;
	font-size: 1.4em;
	vertical-align: middle;
}

.simulacion__text {
	padding: 0 30px;
}

.simulacion__text p {
	font-size: 0.9em;
}



.flex-direction-nav a:before {
	color: #9a9a9a;
	font-size: 17px;
}

.flex-control-paging li a {
	width: 8px;
	height: 8px;
}


/*CONTACTO*/

.formulario__section {
	margin-top: 100px;
}

.contacto__intro {
	text-align: center;
}

.contacto__intro img {
	width: 30%;
	display: inline-block;
	vertical-align: middle;
}

.contacto__intro p {
	display: inline-block;
	text-align: left;
	width: 50%;
	vertical-align: middle;
	margin-left: 10px;
}

.formulario {
	margin-top: 30px;
	padding: 0 30px;
}

.tabla__formulario {
	font-size: 0.9em;
}


.formulario__input {
	width: 100%;
	padding: 8px;
	margin-top: 5px;
	border: none;
	background-color: #e4e4e4;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

.tabla__formulario textarea {
	width: 100%;
	padding: 8px;
	margin-top: 5px;
	font-family: 'Montserrat', sans-serif;
	border: none;
	background-color: #e4e4e4;
	font-weight: 600;
}

.tabla__formulario--submit {
	width: 50%;
	padding: 8px;
	margin-top: 5px;
	border: none;
	background-color: #4d73aa;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: #fff;
	border-radius: 50px;
}


