@charset "UTF-8";


/*PLANTILLA PRODUCTOS MIR*/

.icon-product {
	text-align: center;
	margin-top: 80px;
}

.productomir__slider {
	margin-top: 10px;
	text-align: center;
}

.flex-control-paging li a {
	width: 8px;
	height: 8px;
}

.flex-direction-nav a:before {
	font-size: 20px;
	color: #9a9a9a;
}

.producto-plantilla__description {
	text-align: center;
	padding: 0 20px;
}

.producto-plantilla__description h3 {
	color: #4d73aa;
}

.description__fichatecnica img {
	width: 50px;
	vertical-align: middle;
}

.description__fichatecnica h4 {
	display: inline;
	padding: 10px;
	border-radius: 50px;
	background-color: #4d73aa;
	color: white;
	text-transform: uppercase;
	font-size: 0.9em;
	vertical-align: middle;
}

.description__fichatecnica span {
	font-weight: 600;
	color: #3074ae;
	margin-left: 15px;
}

.productoplantilla__caracteristicas {
	text-align: center;
	margin: 60px 0 0 0;
}

.caracteristicas__title img {
	width: 100px;
	vertical-align: middle;
}

.caracteristicas__title h2 {
	font-weight: 600;
	display: inline;
	vertical-align: middle;
}

.especificacionesmir__section{
	text-align: center;
	margin-top: 60px;
}

.especificaciones__title img {
	width: 70px;
	vertical-align: middle;
}

.especificaciones__title h2 {
	font-weight: 600;
	vertical-align: middle;
	display: inline;
}


.especificacionesmir__table {
	border-collapse: collapse;
	box-sizing: border-box;
	text-align: left;
	margin-top: 20px;
	width: 100%;
}

.especificacionesmir__table td {
	font-size: 0.8em;
	vertical-align: top;
	padding: 8px 20px;
	box-sizing: border-box;
}

.especificacionesmir__table tr:nth-child(odd) td {
	background-color: #f2f2f2;
}

.flexslider .slides .img-768 {
	display: none;
}

.flexslider .slides .img-1200 {
	display: none;
}




/*PLANTILLA UR*/

.especificacionesur__section {
	text-align: center;
	margin: 60px 0 20px 0;
}

.especificacionesur__title img {
	width: 70px;
	vertical-align: middle;
}

.especificacionesur__title h2 {
	font-weight: 600;
	vertical-align: middle;
	display: inline;
}

.especificacionesur__item {
	text-align: center;
	display: inline-block;
	width: 49%;
	margin-top: 30px;
}

.especificacionur__value {
	background-color: #4d73aa;
	height: 100px;
	width: 100px;
	border-radius: 50px;
	color: #fff;
	padding-top: 40px;
	display: inline-block;
}

.especificacionur__category {
	margin-top: 15px;
	font-weight: 600;
}



/*PLANTILLA ROBOTIQ*/

.caracteristicas__robotiq-container {
	display: flex;
	flex-wrap: wrap;
	padding: 0 30px;
	margin-top: 20px;
}

.caracteristicas__robotiq--item {
	width: 50%;
	padding: 0 10px;
	text-align: left;
}

.caracteristicas__robotiq--item h3 {
	color: #4d73aa;
	font-size: 1.1em;
}

.robotiq__list li {
	padding: 5px 0;
	font-size: 0.85em;
}

/*MEDIA QUERY FOR TABLETS*/



@media (min-width: 768px) {

.producto-plantilla__description {
	padding: 0 10vw	;
}

.especificacionesmir__table {
	margin-top: 60px;
}

.especificacionesmir__table td {
	font-size: 1em;
	padding: 15px 100px;
}

.flexslider .slides .img-480 {
	display: none;
}

.flexslider .slides .img-768 {
	display: block;
}
}


@media (min-width: 992px) {

.especificacionesur__item {
	width: 24%;
	margin: 60px 0;
}

}

/*MEDIA QUERY FOR DESKTOPS*/



@media (min-width: 1200px) {

/*MIR*/

.productomir__slider {
	width: 45vw;
	display: inline-block;
	vertical-align: top;
	margin-top: 70px;
}


.producto-plantilla__description {
	width: 45vw;
	text-align: left;
	display: inline-block;
	vertical-align: top;
	padding: 0 30px;
}

.description__fichatecnica {
	margin-top: 50px;
}

.description__fichatecnica a {
	display: inline-block;
	margin-top: 20px;
}

.caracteristicas__listsection {
	margin-top: 40px;
	padding: 0 5vw;
}

.especificacionesmir__section {
	margin-top: 100px;
	padding: 0 10vw;
}

.especificacionesmir__table td {
	padding: 10px 80px 10px 150px;
}

.flexslider .slides .img-768 {
	display: none;
}

.flexslider .slides .img-1200 {
	display: block;
}

/*UR*/

.especificacionesur__container {
	padding: 0 15vw;
}

.especificacionur__value {
	background-color: #4d73aa;
	height: 150px;
	width: 150px;
	border-radius: 100px;
	color: #fff;
	padding-top: 65px;
	display: inline-block;
	font-weight: 600;
	font-size: 1.2em;
}

}


/*MEDIA QUERY PARA DESKPTOP GRANDE*/

@media (min-width: 1440px) {

.productomir__slider {
	margin-top: 30px;
}

.caracteristicas__listsection {
	margin-top: 40px;
	padding: 0 10vw;
}

.especificacionesmir__table td {
	padding: 10px 80px 10px 280px;
}

.especificacionesur__container {
	padding: 0 20vw;
}


}