@charset "UTF-8";

@media (min-width: 1440px) {

p {
	font-size: 16px;
	line-height: 1.4em;
}


.brief-marcas p {
	font-size: 1.2em;
}



/*MARCAS INTRO*/

.marca-producto-intro {
	margin-top: 80px;
}

.marca-intro-icon {
	width: 250px;
}

.marca-intro-text {
	padding: 0 90px;
}

.producto-item {
	height: 600px;
}




/*SERVICIOS*/

.servicios__capacitaciones {
	padding: 0 15vw;
}

.flex-direction-nav a:before {
	color: #9a9a9a;
	font-size: 30px;
}

}