@charset "UTF-8";

@media (min-width: 992px) {


.marca-intro-text {
	padding: 0 120px;
}

.text-width {
	padding: 20px 150px;
}

.tabla__formulario--submit {
	width: 200px;
}

.flex-direction-nav .flex-next {
	right: 20px;
}

.flexslider:hover .flex-direction-nav .flex-next {
	right: 40px;
}

.flex-direction-nav .flex-prev {
	left: 20px;
}

.flexslider:hover .flex-direction-nav .flex-prev {
	left: 40px;
}




}