@charset "UTF-8";

@media (min-width: 1200px) {

p {
	font-size: 14px;
}

h1 {
	font-size: 2em;
}

h3 {
	font-size: 1.7em;
}

h4 {
	font-size: 1.3em;
}


.img-480, .img-768 {
	display: none;
}

.img-1200 {
	display: inline-block;
}



/*INTRO*/

.intro {
	margin-top: 85px;
}

.intro h1 {
	font-size: 1.8em;
}

.intro-links-marcas {
	transition: 1s;
}




.intro-marcas-img {
	display: none;
}

.intro-marcas-img-1200 {
	display: inline-block;
	width: 100%;
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
}

.intro-marcas-img-1200:hover {
	opacity: 0.5;
}

.servicios-link {
	margin: 90px 0 0 0;
}

.servicios-link div {
	padding: 0px 0px;
	position: relative;
	width: 300px;
	height: 350px;
}

.servicios-link a {
	position: absolute;
	left: 0;
	right: 0;
}

.servicios-link img {
	width: 250px;
	-webkit-transition: width 0.5s;
	transition: width 0.5s;
}

.servicios-link img:hover {
	width: 260px;
	transition-timing-function: ease;
}


.contact-info-section {
	padding: 30px;
	text-align: center;
}

.contact-info {
	display: inline-block;
	width: auto;
	text-align: left;
}

.contact-info-icon {
	width: auto;
	margin-top: 20px;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
}


.inline {
	display: inline-block;
}

.contact-info-text {
	display: block;
	width: auto;
	box-sizing: border-box;
	padding: 0 10px;
	vertical-align: top;
}

.contact-info-text h4 {
	margin: auto auto 2px auto;
}

.contact-info-text p {
	margin: 0px auto 20px auto;
}






/*NOSOTROS*/

.img-nosotros {
	display: none;
}

.img-nosotros-1200  {
	display: inline-block;
	width: 100%;
}

.nosotros-intro p {
	font-size: 1.1em;
	padding: 30px 20vw;
}

.distribucion-marcas h3 {
	padding: 0 20vw;
	font-size: 1.7em;
}

.bandera {
	width: 120px;
	padding: 20px 20px;
}

.brief {
	padding: 20px 10vw;
}

.separation-brief {
	height: 180px;
}

.brief-marcas {
	width: 33%;
	padding: 0 40px;
}

.brief-marcas p {
	font-size: 1.1em;
}

#servicio-brief {
	padding: 0 20vw;
}

p#servicio-brief {
	font-size: 1.1em;
}




/*MARCAS INTRO*/

.marca-producto-intro {
	margin-top: 70px;
}

.intro-img {
	float: left;
	width: 50%;
	margin-top: 20px;
}

.marca-intro-img {
	width: 100%;
}


.marca-intro-text {
	float: left;
	text-align: left;
	width: 50%;
	padding: 0 80px;
	box-sizing: border-box;
	margin-top: 20px;
}

.marca-intro-text h1 {
	margin: 0;
}


.container-producto-layout {
	padding: 0 100px;
}

.producto-item {
	width: 25%;
}


/*M.I.R*/

.caracteristica-item {
	padding: 20px 40px;
	width: 50%;
}



}


