@charset "UTF-8";

@media (min-width: 768px) {

p {
	font-size: 15px;
}

h1 {
	font-size: 1.7em;
}

.contact-info-section {
	text-align: center;
}

.contact-info-icon {
	display: inline-block;
}

.inline {
	display: block;
}

.contact-info-text {
	display: inline-block;
}


.img-480, .img-1200 {
	display: none;
}

.img-768 {
	display: inline-block;
}



/*INTRO MARCAS*/

.marca-intro-text {
	padding: 0 90px;
}


.producto-item h3 {
	font-size: 1.4em;
}



/*M.I.R*/

.caracteristicas-mir {
	padding: 0 120px;
}

}